* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
  color: #0ea5e9;
}
html {
  letter-spacing: 1px;
  font-size: 14px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 42px;
  color: #333;
  background-color: white;
  margin: 50px auto;
  width: 800px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 50px;
}
.container::before {
  content: "";
  background: linear-gradient(to right, #22d3ee, #0ea5e9);
  width: 800px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  transform: rotate(-3deg);
}

/* header部分 */
.header {
  display: flex;
}
.header .info {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 10px;
}
.header .personal-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.info .title {
  grid-column: 1 / span 2;
}
.info .title .name {
  letter-spacing: 3px;
}
.info .title .position {
  font-size: 0.45em;
  letter-spacing: 4px;
  /* display: inline-block; */
}
.info .item {
  display: grid;
  /* grid-template-columns: 1fr 3fr; */
  gap: 10px;
}
.info .item .label {
  justify-self: right;
  color: #888;
  white-space: nowrap;
}
.info .item:nth-child(2n) {
  grid-template-columns: 20px 280px;
}
.info .item:nth-child(2n + 1) {
  grid-template-columns: 60px 1fr;
}
.info .item .label.iconfont::before {
  vertical-align: -3px;
}

/* bodyer区域 */
.bodyer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.bodyer .box .title::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: #cccccc;
  margin-top: 13px;
  margin-bottom: 10px;
}
.bodyer .box .box-content {
  padding: 31px 0px 51px 18px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: space-between;
  border-left: 2px solid #22d3ee;
  position: relative;
}
.bodyer .box .box-content .item::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #0ea5e9;
  position: absolute;
  left: 0;
  transform: translate(calc(-50% - 1px), 3px);
}
.bodyer .box .box-content .item .date,
.bodyer .box .box-content .item .content {
  color: #888;
}
.bodyer .box .box-content .item .details {
  color: #888;
  font-size: 0.8em;
  margin-top: 10px;
  line-height: 1.5;
}

.bodyer .box .skill-box-content {
  padding: 10px 0 30px;
  display: grid;
  gap: 30px 0;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.bodyer .box .skill-box-content .item {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 5px solid #c3f1f8;
  background-color: #f0fdff;
}
.bodyer .box .skill-box-content .item::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  border: 5px solid transparent;
  margin: -5px;
  position: absolute;
  transform: rotate(45deg);
}
.bodyer .box .skill-box-content .item.level1::before {
  border-top-color: #0ea5e9;
}
.bodyer .box .skill-box-content .item.level2::before {
  border-top-color: #0ea5e9;
  border-right-color: #0ea5e9;
}
.bodyer .box .skill-box-content .item.level3::before {
  border-color: #0ea5e9;
  border-left-color: transparent;
}
.bodyer .box .skill-box-content .item.level4::before {
  border-color: #0ea5e9;
}

.bodyer .box .project-box-content {
  padding: 10px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: space-between;
}

.bodyer .box .project-box-content .item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bodyer .box .project-box-content .item .project-title {
  margin-bottom: 3px;
}
.bodyer .box .project-box-content .item .project-item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 10px;
}
.bodyer .box .project-box-content .item .project-item .label {
  justify-self: right;
  color: #888;
  white-space: nowrap;
  line-height: 1.5;
}
.bodyer .box .project-box-content .item .project-item .content {
  display: flex;
  flex-direction: column;
  gap: 14px;
  line-height: 1.5;
}
.bodyer .box .self-box-content {
  padding: 10px 0 50px;
  font-size: 1.15em;
  line-height: 2;
}
